{% extends 'base.html' %}
{% block content %}
        <div class="border p-3">
            <form method="POST">
                <input type="text">
                <input class="btn btn-info" type="text" value="Submit">
            </form>
            <hr>
            <div class="border p-3 mb-3">
                <small>20th Febuary 2021</small>
                <div class="row">
                    <div class="col-md-8">
                        <p>This is the Task</p>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="btn btn-success sm">Edit</a>
                        <a href="#" class="btn btn-danger sm">Delete</a>
                    </div>
                </div>
            </div>
            <div class="border p-3 mb-3">
                <small>20th Febuary 2021</small>
                <div class="row">
                    <div class="col-md-8">
                        <p>This is the Task</p>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="btn btn-success sm">Edit</a>
                        <a href="#" class="btn btn-danger sm">Delete</a>
                    </div>
                </div>
            </div>
            <div class="border p-3 mb-3">
                <small>20th Febuary 2021</small>
                <div class="row">
                    <div class="col-md-8">
                        <p>This is the Task</p>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="btn btn-success sm">Edit</a>
                        <a href="#" class="btn btn-danger sm">Delete</a>
                    </div>
                </div>
            </div>
        </div>         
{% endblock %}